<section class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Deviens un pro du Green IT 🌿</h1>
      <p class="hero__subtitle">
        Trop d'infos, pas assez de mémoire ? Respire.<br>
        <strong>Flash Green</strong> t’aide à réviser l’essentiel du Green IT
        avec des flashcards claires. Apprends vite, retiens durablement,
        tout en respectant la planète.
      </p>
      <a href="cards.html" class="hero__cta">Commence à apprendre !</a>
    </div>
  </section>
  